footer {
  background-color: #000;
  color: white;
  margin-top: 50px;
  padding: 50px 0;
}
footer .grid {
  grid-template-columns: 3fr 1fr 1fr;
}
footer .aboutUs{
  margin-bottom: 20px;
  letter-spacing: 2px;
}
footer .social{
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}
footer .navigation{
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;

}
footer p {
  font-size: 13px;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
}
footer .icon i {
  color:black;
}


footer ul li a {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-size: 13px;
}
footer ul li {
  margin-bottom: 10px;
  text-align: center;
  list-style-type: none;
  padding: 0;  
}

.legal {
  text-align: center;
  padding: 20px;
  background-color: #000;
  border-top: 1px solid rgb(63, 62, 62);
  color: white;
}
.legal p {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  footer .grid {
    grid-template-columns: 3fr 1fr 1fr;
  }
}
